<section class="hero is-fullheight-with-navbar">
  <div class="hero-body is-flex is-justify-content-center">
    <div class="columns is-8">
      <div class="column mr-6">
        <figure class="image">
          <%= image_tag "heroimage.svg" %>
        </figure>
      </div>
      <div class="column is-flex is-align-items-center">
        <p class="title is-size-1 has-text-centered">
          Boas vindas ao sistema de gestão de cursos e aulas.
        </p>
      </div>
    </div>
  </div>
</section>